﻿@model WebApiTask_2.Models.Sales


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">

	@*<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomer()" data-toggle="modal" data-target="#custModal">Add New Customer</a><br /><br />*@

	<button type="button" class="btn btn-primary" onclick="OpenAddModal()" data-toggle="modal" data-target="#salesModal">Add New Sales Record</button><br /><br />

	@*Model for Adding and Updating a Sales Record*@
	<div class="modal fade" id="salesModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<div class="form-group">
							<input type="hidden" id="Id" class="form-control" />
						</div>
						<div class="form-group">

							Customer Name <select id="CustomerId" class="form-control">
								<option>Select Customers</option>
							</select><span id="customername_error_msg"></span>
						</div>

						<div class="form-group">

							Product Name <select id="ProductId" class="form-control">
								<option>Select Products</option>
							</select><span id="productname_error_msg"></span>
						</div>
						<div class="form-group">

							Store Name <select id="StoreId" class="form-control">
								<option>Select Stores</option>
							</select><span id="storename_error_msg"></span>
						</div>

						<div class="form-group">

							Date <input type="text" class="form-control" id="DateSold" placeholder="DD/MM/YYYY" />
							<span id="date_error_msg"></span>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						@*<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>*@
						<button type="button" class="btn btn-danger" id="SaveSalesRecord">Save</button>
						@*<a href="#" class="btn btn-danger" id="SaveCustomerRecord">Save</a>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*Model for Deleting  Sales*@
<div class="modal fade" id="deleteSales">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="deleteModalTitle">Delete Customer Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

@*Code for Creating Sales Table*@

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Id</th>*@
			<th>Customer Name</th>
			<th>Product Name</th>
			<th>Store Name</th>
			<th>DateSold</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>
		</tr>
	</thead>
	<tbody id="tblSales">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>

<script>

	//Code for Getting all Sales Records using Jquery Ajax

	$(document).ready(function () {
		$("#LoadingStatus").html("Loading...");
		var salesData = $("#tblSales");
		
		//Getting all Customers and adding to Dropdownlist
		$.ajax({
			type: 'GET',
			url: '/api/Customers',
			success: function (data) {
				$.each(data, function (key, customers) {
					$('#CustomerId').append($("<option/>", {
						value: customers.Name,
						text: customers.Name,
						id: customers.Id
					}));
				});
			}
		})

		//Getting all Products and adding to Dropdownlist
		$.ajax({
			type: 'GET',
			url: '/api/Products',
			success: function (data) {
				$.each(data, function (key, products) {
					$('#ProductId').append($("<option/>", {
						value: products.Name,
						text: products.Name,
						id: products.Id
					}));
				});
			}
		})

		//Getting all Stores and adding to Dropdownlist
		$.ajax({
			type: 'GET',
			url: '/api/Stores',
			success: function (data) {
				$.each(data, function (key, stores) {
					$('#StoreId').append($("<option/>", {
						value: stores.Name,
						text: stores.Name,
						id:stores.Id
					}));
				});
			}
		})

		// Getting Sales data from server and displaying into table
		$.ajax({
			type: 'GET',
			url: '/api/Sales',
			success: function (data) {
				$.each(data, function (key, val) {
					var Data = $("<tr><td>" + val.CustomerName +
						"</td><td>" + val.ProductName +
						"</td><td>" + val.StoreName +
						"</td><td>" + val.DateSold +

						"</td><td>" + "<a class='btn btn-warning' onClick='OpenEditModal(" + val.Id + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" +
						"</td><td>" + "<a class='btn btn-danger' onClick='OpenDeleteModal(" + val.Id + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td></tr>");

					salesData.append(Data);
					$("#LoadingStatus").html("");
				});

			}
		})
	})

	//Jquery Validation Code
	function ValidateSales() {

		var status = true;

		var customerName = $("#CustomerId").val();
		var productName = $("#ProductId").val();
		var storeName = $("#StoreId").val();
		var salesdate = $("#DateSold").val();

		if (customerName == "" || customerName=="Select Customers") {
			//$("#Name").css({ border: "2px red solid" });
			$("#customername_error_msg").html("Customer Name Required").css("color", "red");
			status = false;
		}
		else {
			$("#customername_error_msg").hide();
		}
		if (productName == "" || productName=="Select Products") {
			//$("#Name").css({ border: "2px red solid" });
			$("#productname_error_msg").html("Product Name Required").css("color", "red");
			status = false;
		}
		else {
			$("#productname_error_msg").hide();
		}
		if (storeName == "" || storeName=="Select Stores") {
			//$("#Name").css({ border: "2px red solid" });
			$("#storename_error_msg").html("Store Name Required").css("color", "red");
			status = false;
		}
		else {
			$("#storename_error_msg").hide();
		}
		if (salesdate == "") {
			//$("#Address").css({ border: "2px red solid" });
			$("#date_error_msg").html("Date Required").css("color", "red");
			status = false;
		}
		else {
			$("#date_error_msg").hide();
		}
		return status;
	}

	//Modal to Add new Sales Record
	function OpenAddModal() {
		$("#myForm")[0].reset();
		$("#modalTitle").text("Add new Sales Record");
		$("#salesModal").modal("");
	}

	//Modal for Editing a Sales Record
	function OpenEditModal(Id) {
		$("#modalTitle").text("Update Sales Record");
		$("#salesModal").modal();
		$('#Id').val(Id);

		$('#tblSales tr').click(
			function () {
				//var Id = $(this).find("td:nth-child(0)").html();
				var CustomerName = $(this).find("td:nth-child(1)").html();
				var ProductName = $(this).find("td:nth-child(2)").html();
				var StoreName = $(this).find("td:nth-child(3)").html();
				var Dateid = $(this).find("td:nth-child(4)").html();
								
				$('#CustomerId').val(CustomerName);				
				$('#ProductId').val(ProductName);
				$('#StoreId').val(StoreName);
				DateSold = $('#DateSold').val(Dateid);
			});
	}

	
	//Saving new Added and Updated Sales Records
	$("#SaveSalesRecord").click(function () {
		var flag = ValidateSales();

		if (flag == false) {
			$("#salesModal").modal("show");
			return;
		}

		var Id = $('#Id').val();
		//var data = $("#SubmitForm").serialize();
		var type = 'POST';
		var url = '/api/Sales';
		if ($("#modalTitle").text() === "Update Sales Record") {
			type = "PUT";
			url = '/api/Sales/' + Id;
		}
		var rawdata = {
			CustomerId: $("#CustomerId").find('option:selected').attr('id'),
			ProductId: $("#ProductId").find('option:selected').attr('id'),
			StoreId: $("#StoreId").find('option:selected').attr('id'),
			DateSold: $("#DateSold").val(),
		};
		
		$.ajax({

			type: type,
			url: url,
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(rawdata),
			success: function () {
				
				alert("Success!");
				window.location.href = "/Sale/Index";
				$("#salesModal").modal("hide");

				var obj = JSON.parse(data);
				$("#Id").val(obj.Id);
				//$("#CustomerId option:selected ").text(obj.Customer.CustomerName);
				$("#CustomerId option:selected ").val(obj.CustomerId);
				//$("#ProductId option:selected").text(obj.Product.ProductName);
				$("#ProductId option:selected").val(obj.ProductId);
				//$("#StoreId option:selected").text(obj.Store.StoreName);
				$("#StoreId option:selected").val(obj.StoreId);
				$("#DateSold").val(obj.DateSold);
			}
		})
	});

	//Modal for Deleting Sales Record
	function OpenDeleteModal(saleId) {
		$("#Id").val(saleId);
		$("#deleteSales").modal("show");
	}

	//Deleteing Selected Sales Records 
	function ConfirmDelete() {
		var SaleId = $("#Id").val();
		
		$.ajax({
			type: 'DELETE',
			url: '/api/Sales/' + SaleId,
			success: function (data) {
				alert("Success!--");
				$("#deleteSales").modal("hide");
				$(".row_" + SaleId).remove();
				location.reload();
			}
		})
	}

</script>



