﻿@model WebApiTask_2.Models.Product


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">

	@*<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomer()" data-toggle="modal" data-target="#custModal">Add New Customer</a><br /><br />*@

	<button type="button" class="btn btn-primary" onclick="OpenAddModal()" data-toggle="modal" data-target="#productModal">Add New Product</button><br /><br />

	<div class="modal fade" id="productModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								<input type="hidden" id="Id" class="form-control" />
							</div>
							<div class="form-group">
								<Label for="Name">Product Name</Label>
								<input type="text" class="form-control" id="Name" placeholder="Product Name" />
								<span id="name_error_msg"></span>
							</div>
							<div class="form-group">
								<Label for="Price">Product Price</Label>
								<input type="text" class="form-control" id="Price" placeholder="Product Price" />
								<span id="price_error_msg"></span>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						@*<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>*@
						<button type="button" class="btn btn-danger" id="SaveProductRecord">Save</button>
						@*<a href="#" class="btn btn-danger" id="SaveCustomerRecord">Save</a>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*Model for Deleting a Product*@
<div class="modal fade" id="deleteProduct">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="deleteModalTitle">Delete Product Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

@*Code for Creating Product Table*@

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Id</th>*@
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblProduct">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>


<script>

	// Code for Getting all Products using Jquery Ajax

	$(document).ready(function () {
		$("#LoadingStatus").html("Loading...");
		var productData = $("#tblProduct");
		// Getting data from server
		$.ajax({
			type: 'GET',
			url: '/api/Products',
			success: function (data) {
				$.each(data, function (key, val) {
					var Data = $("<tr><td>" + val.Name +
						"</td><td>" + val.Price +

						"</td><td>" + "<a href='#' class='btn btn-warning' onClick='OpenEditModal(" + val.Id + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" +
						"</td><td>" + "<a href='#' class='btn btn-danger' onClick='OpenDeleteModal(" + val.Id + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td></tr>");

					productData.append(Data);
					$("#LoadingStatus").html("");
				});

			}
		})
	});


	//Jquery Validation Code
	function ValidateProducts() {

		var status = true;

		var productName = $("#Name").val();
		var productPrice = $("#Price").val();

		if (productName == "") {
			//$("#Name").css({ border: "2px red solid" });
			$("#name_error_msg").html("Product Name Required").css("color", "red");
			status = false;

		}
		else {

			$("#name_error_msg").hide();

		}
		if (productPrice == "") {
			//$("#Address").css({ border: "2px red solid" });
			$("#price_error_msg").html("Product Price Required").css("color", "red");
			status = false;
		}
		else {
			$("#price_error_msg").hide();

		}
		return status;

	}

	//Modal to Add new Product
	function OpenAddModal() {
		$("#myForm")[0].reset();
		$("#modalTitle").text("Add new Product");
		$("#productModal").modal("");
	}

	//Open Modal for Editing a Product
	function OpenEditModal(Id) {
		//var url = '/api/Products/' + ProductId;
		$("#modalTitle").text("Update Product Record");
		$("#productModal").modal();
		$('#Id').val(Id);

		$('#tblProduct tr').click(
			function () {
				//var Id = $(this).find("td:nth-child(0)").html();
				var Name = $(this).find("td:nth-child(1)").html();
				var Price = $(this).find("td:nth-child(2)").html();

				//Id = $('#Id').val(Id);
				Name = $('#Name').val(Name);
				Price = $('#Price').val(Price);
			});
	}

	//Saving new Added and Updated Products
	$("#SaveProductRecord").click(function () {
		var flag = ValidateProducts();

		if (flag == false) {
			$("#productModal").modal("show");
			return;
		}
		var Id = $('#Id').val();
		//var data = $("#SubmitForm").serialize();
		var type = 'POST';
		var url = '/api/Products';
		if ($("#modalTitle").text() === "Update Product Record") {
			type = "PUT";
			url = '/api/Products/' + Id;
		}
		var rawdata = {
			Name: $("#Name").val(),
			Price: $("#Price").val(),
		};
		$.ajax({
			type: type,
			url: url,
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(rawdata),
			success: function () {
				alert("Success!");
				window.location.href = "/Product/Index";
				$("#productModal").modal("hide");

				var obj = JSON.parse(data);
				$("#Id").val(obj.Id);
				$("#Name").val(obj.Name);
				$("#Price").val(obj.Price);
			}
		})
	});

	//Modal for Deleting a Product
	function OpenDeleteModal(ProductId) {
		//alert("Hello");
		$("#Id").val(ProductId);
		$("#deleteProduct").modal("show");
	}
	//Deleteing a Product
	function ConfirmDelete() {
		var productId = $("#Id").val();

		$.ajax({
			type: 'DELETE',
			url: '/api/Products/' + productId,
			success: function (data) {
				alert("Success!--");
				$("#deleteProduct").modal("hide");
				$(".row_" + productId).remove();
				location.reload();
			}
		})
	}

</script>

