﻿@model WebApiTask_2.Models.Store


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">

	@*<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomer()" data-toggle="modal" data-target="#custModal">Add New Customer</a><br /><br />*@

	<button type="button" class="btn btn-primary" onclick="OpenAddModal()" data-toggle="modal" data-target="#storeModal">Add New Store</button><br /><br />

	<div class="modal fade" id="storeModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								<input type="hidden" id="Id" class="form-control" />
							</div>
							<div class="form-group">
								<Label for="Name">Store Name</Label>
								<input type="text" class="form-control" id="Name" placeholder="Store Name" />
								<span id="name_error_msg"></span>
							</div>
							<div class="form-group">
								<Label for="Address">Store Address</Label>
								<input type="text" class="form-control" id="Address" placeholder="Store Address" />
								<span id="address_error_msg"></span>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						@*<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>*@
						<button type="button" class="btn btn-danger" id="SaveStoreRecord">Save</button>
						@*<a href="#" class="btn btn-danger" id="SaveCustomerRecord">Save</a>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*Model for Deleting a Store*@
<div class="modal fade" id="deleteStore">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="deleteModalTitle">Delete Store Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

@*Code for Creating Store Table*@

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Id</th>*@
			<th>Store Name</th>
			<th>Store Address</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblStore">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>


<script>

	// Code for Getting all Stores using Jquery Ajax

	$(document).ready(function () {
		$("#LoadingStatus").html("Loading...");
		var storeData = $("#tblStore");
		// Getting data from server
		$.ajax({
			type: 'GET',
			url: '/api/Stores',
			success: function (data) {
				$.each(data, function (key, val) {
					var Data = $("<tr><td>" + val.Name +
						"</td><td>" + val.Address +

						"</td><td>" + "<a href='#' class='btn btn-warning' onClick='OpenEditModal(" + val.Id + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" +
						"</td><td>" + "<a href='#' class='btn btn-danger' onClick='OpenDeleteModal(" + val.Id + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td></tr>");

					storeData.append(Data);
					$("#LoadingStatus").html("");
				});

			}
		})
	});

	//Jquery Validation Code
	function ValidateStores() {

		var status = true;

		var storeName = $("#Name").val();
		var storeAddress = $("#Address").val();

		if (storeName == "") {
			//$("#Name").css({ border: "2px red solid" });
			$("#name_error_msg").html("Store Name Required").css("color", "red");
			status = false;

		}
		else {

			$("#name_error_msg").hide();

		}
		if (storeAddress == "") {
			//$("#Address").css({ border: "2px red solid" });
			$("#address_error_msg").html("Store Address Required").css("color", "red");
			status = false;
		}
		else {
			$("#address_error_msg").hide();

		}
		return status;

	}

	//Modal to Add new Store
	function OpenAddModal() {
		$("#myForm")[0].reset();
		$("#modalTitle").text("Add new Store");
		$("#storeModal").modal("");
	}

	//Open Modal for Editing a Store
	function OpenEditModal(Id) {
		//var url = '/api/Stores/' + StoreId;
		$("#modalTitle").text("Update Store Record");
		$("#storeModal").modal();
		$('#Id').val(Id);

		$('#tblStore tr').click(
			function () {
				//var Id = $(this).find("td:nth-child(0)").html();
				var Name = $(this).find("td:nth-child(1)").html();
				var Address = $(this).find("td:nth-child(2)").html();

				//Id = $('#Id').val(Id);
				Name = $('#Name').val(Name);
				Address = $('#Address').val(Address);
			});
	}

	//Saving new Added and Updated Stores
	$("#SaveStoreRecord").click(function () {
		var flag = ValidateStores();

		if (flag == false) {
			$("#storeModal").modal("show");
			return;
		}

		var Id = $('#Id').val();
		//var data = $("#SubmitForm").serialize();
		var type = 'POST';
		var url = '/api/Stores';
		if ($("#modalTitle").text() === "Update Store Record") {
			type = "PUT";
			url = '/api/Stores/' + Id;
		}
		var rawdata = {
			Name: $("#Name").val(),
			Address: $("#Address").val(),
		};
		$.ajax({
			type: type,
			url: url,
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(rawdata),
			success: function () {
				alert("Success!");
				window.location.href = "/Store/Index";
				$("#storeModal").modal("hide");

				var obj = JSON.parse(data);
				$("#Id").val(obj.Id);
				$("#Name").val(obj.Name);
				$("#Address").val(obj.Address);
			}
		})
	});

	//Modal for Deleting a Store
	function OpenDeleteModal(StoreId) {
		$("#Id").val(StoreId);
		$("#deleteStore").modal("show");
	}
	//Deleteing a Store
	function ConfirmDelete() {
		var storeId = $("#Id").val();

		$.ajax({
			type: 'DELETE',
			url: '/api/Stores/' + storeId,
			success: function (data) {
				alert("Success!--");
				$("#deleteStore").modal("hide");
				$(".row_" + storeId).remove();
				location.reload();
			}
		})
	}

</script>




