﻿@model WebApiTask_2.Models.Customer



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="container" style="margin-top:3%">

	@*<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomer()" data-toggle="modal" data-target="#custModal">Add New Customer</a><br /><br />*@

	<button type="button" class="btn btn-primary" onclick="OpenAddModal()" data-toggle="modal" data-target="#custModal">Add New Customer</button><br /><br />
	
	@*Model for Adding and Updating a Customer Record*@
	<div class="modal fade" id="custModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								<input type="hidden" id="Id" class="form-control" />
							</div>
							<div class="form-group">
								<Label for="Name">Customer Name</Label>
								<input type="text" class="form-control" id="Name" placeholder="Customer Name" /><span id="name_error_msg"></span>
								
							</div>
							<div class="form-group">
								<Label for="Address">Customer Address</Label>
								<input type="text" class="form-control" id="Address" placeholder="Customer Address" />
								<span id="address_error_msg"></span>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						@*<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>*@
						<button type="button" class="btn btn-danger" id="SaveCustomerRecord">Save</button>
						@*<a href="#" class="btn btn-danger" id="SaveCustomerRecord">Save</a>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*Model for Deleting a Customer*@
<div class="modal fade" id="deleteCust">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="deleteModalTitle">Delete Customer Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

@*Code for Creating Customer Table*@

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Customer ID</th>*@
			<th>Customer Name</th>
			<th>Customer Address</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblCust">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>


@*Jquery Ajax Code for Customers*@

<script>

	// Code for Getting all Customers using Jquery Ajax

	$(document).ready(function () {
		$("#LoadingStatus").html("Loading...");
		var custData = $("#tblCust");
		// Getting data from server
		$.ajax({
			type: 'GET',
			url: '/api/Customers',
			success: function (data) {
				$.each(data, function (key, val) {
					var Data = $("<tr><td>" + val.Name +
						"</td><td>" + val.Address +

						"</td><td>" + "<a href='#' class='btn btn-warning' onClick='OpenEditModal(" + val.Id + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" +
						"</td><td>" + "<a href='#' class='btn btn-danger' onClick='OpenDeleteModal(" + val.Id + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td></tr>");

					custData.append(Data);
					$("#LoadingStatus").html("");
				});

			}
		})
	});


	//Jquery Validation Code
	function ValidateCustomers() {

		var status = true;

		var customerName = $("#Name").val();
		var customerAddress = $("#Address").val();

		if (customerName == "") {
			//$("#Name").css({ border: "2px red solid" });
			$("#name_error_msg").html("Customer Name Required").css("color", "red");
			status = false;

		}
		else {

			$("#name_error_msg").hide();
			
		}
		if (customerAddress == "") {
			//$("#Address").css({ border: "2px red solid" });
			$("#address_error_msg").html("Customer Address Required").css("color", "red");
			status = false;
		}
		else {
			$("#address_error_msg").hide();
			
		}
		return status;

	}

	//Modal to Add new Customer
	function OpenAddModal() {
		$("#myForm")[0].reset();
		$("#modalTitle").text("Add new Customer");
		$("#custModal").modal("");
	}
	

	//Open Modal for Editing a Customer
	function OpenEditModal(Id) {
		//var url = '/api/Customers/' + CustomerId;
		$("#modalTitle").text("Update Customer Record");
		$("#custModal").modal();
		$('#Id').val(Id);

		$('#tblCust tr').click(
			function () {
				//var Id = $(this).find("td:nth-child(0)").html();
				var Name = $(this).find("td:nth-child(1)").html();
				var Address = $(this).find("td:nth-child(2)").html();

				//Id = $('#Id').val(Id);
				Name = $('#Name').val(Name);
				Address = $('#Address').val(Address);
			});
	}


	//Saving new Added and Updated Customers
	$("#SaveCustomerRecord").click(function () {
		var flag = ValidateCustomers();

		if (flag == false) {			
			$("#custModal").modal("show");
			return;
		}
				
		var Id = $('#Id').val();
		//var data = $("#SubmitForm").serialize();
		var type = 'POST';
		var url = '/api/Customers';
		if ($("#modalTitle").text() === "Update Customer Record") {
			type = "PUT";
			url = '/api/Customers/' + Id;
		}
		var rawdata = {
			Name: $("#Name").val(),
			Address: $("#Address").val(),
		};

		

		$.ajax({
			type: type,
			url: url,
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(rawdata),
			success: function () {
				alert("Success!");
				window.location.href = "/Customer/Index";
				$("#custModal").modal("hide");

				var obj = JSON.parse(data);
				$("#Id").val(obj.Id);
				$("#Name").val(obj.Name);
				$("#Address").val(obj.Address);
			}
		})
	});


	//Modal for Deleting a Customer
	function OpenDeleteModal(CustomerId) {
		$("#Id").val(CustomerId);
		$("#deleteCust").modal("show");
	}
	//Deleteing a Customer
	function ConfirmDelete() {
		var CustId = $("#Id").val();

		$.ajax({
			type: 'DELETE',
			url: '/api/Customers/' + CustId,
			success: function (data) {
				alert("Success!--");
				$("#deleteCust").modal("hide");
				$(".row_" + CustId).remove();
				location.reload();
			}
		})
	}

	

</script>




@*$("#SaveCustomerRecord").click(function () {

		//var data = $("#SubmitForm").serialize();
		var type = 'POST';
		var url = '/api/Customers';
		if ($("#modalTitle").text() === "Update Customer Record") {
			type = "PUT";
			url = '/api/Customers/' + CustomerId;
		}
		//var rawdata = {
		//	Name: $("#Name").val(),
		//	Address: $("#Address").val(),
		//};
		var customer = {
			"name": "24234234",
			"address": "asdasadasd"
		};
		$.ajax({
			type: type,
			url: url,
			contentType: "application/json; charset=utf-8",
			data: {
				"name": "24234234",
				"address": "asdasadasd"
			},
			success: function () {
				alert("Hello");
				window.location.href = "/Customer/Index";
				$("#custModal").modal("hide");

				//var obj = JSON.parse(data);
				//$("#CustomerId").val(obj.CustomerId);
				//$("#CustomerName").val(obj.CustomerName);
				//$("#CustomerAddress").val(obj.CustomerAddress);
			}
		})
	});*@





@*//$.ajax({
	//	type: 'PUT',
	//	url: '/api/Customers/' + CustomerId,
	//	contentType: "application/json; charset=utf-8",
	//	success: function () {
	//		alert("Hello");
	//		//var obj = JSON.parse(data);
	//		//$("#CustomerId").val(obj.CustomerId);
	//		//$("#CustomerName").val(obj.CustomerName);
	//		//$("#CustomerAddress").val(obj.CustomerAddress);
	//	}
	//})*@